--index-url https://pypi.fury.io/thepadawan/
--extra-index-url https://pypi.org/simple/
bcrypt==3.1.2
blinker==1.4
coverage==4.4.1
Flask==1.1.1
Flask-Caching==1.8.0
Flask-Compress==1.4.0
Flask-Cors==3.0.8
flask-graphql==2.0.1
Flask-Login==0.4.1
flask-marshmallow==0.10.1
Flask-Migrate==2.4.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.4.3
graphene==2.1.8
marshmallow==3.3.0
marshmallow-sqlalchemy==0.21.0
pathlib==1.0.1
Pillow==7.0.0
psycopg2==2.7.6
sentry-sdk[flask]==0.7.4
SQLAlchemy==1.3.17
SQLAlchemy-Utils==0.33.9
sashimmie==0.0.7
